.wrapper{
    background-image: url("../img/background-1.png");
    background-color: #B0BEC5;
    width: 800px;
}
.header_menu li{
    float: left;
    padding-left: 70px;
}
.header_menu a{
    text-underline: none;
}