body{
    background-color: antiquewhite;
    margin: 0;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    outline: 1px solid #ffffff;
    background-image: url("../img/header/hero-banner.jpg");
}


.header{
    height: 77px;
    padding: 30px 45px;
    margin-bottom: 10px;
    outline: 1px solid #ffffff;
}

#logo{
    float: left;
    color: white;
    outline: 1px solid #ffffff;
    width: 250px;
}

#menu {
    width: 500px;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin: 0 auto;
}

#menu li {
    float: left;
    list-style: none;
    padding-right: 40px;

}
li a:hover {
    color: black;
    cursor: pointer;
}
#sign-up{

    float: right;
    padding-top: 10px;
    outline: 1px solid #ffffff;
}
#button-sign-up {
    display: inline-block;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 50px;
}
a{
    text-decoration:none;
    color: white;
}
.clear{
    clear: both;
}

#side-left{
    float: left;
    color: white;
    outline: 1px solid #ffffff;
    width: 250px;
    margin-left: 45px;
    margin-right: 80px;
}

#button{
    display: block;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 150px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
a#button:hover{
    background-color: darkblue;
}
#easy-useful{
    background-color: white;
}#services{
     background-color: white;
 }
#easy-useful-heading{
    text-align: center;
    width: 300px;
    padding-left: 350px;
    outline: 1px solid grey;
}
div#easy-useful-heading h2 {
    color: grey;
}

div#easy-useful-heading p{
    color: grey;
}
#three-buttons-left{
    float: left;
    color: grey;
    outline: 1px solid #ffffff;
    width: 200px;
    text-align: center;
    padding-left: 90px;
}
#three-buttons-right{
    float: right;
    color: grey;
    outline: 1px solid #ffffff;
    width: 200px;
    text-align: center;
    padding-right: 90px;
}

#three-buttons-center{
    width: 200px;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin: 0 auto;
    text-align: center;
    color: grey;
}
#button-get-started{
    display: block;
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 150px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
#get-started{
    padding-left: 400px;
}
#easy-useful-menu{
    width: 100%;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin:0;
}
#easy-useful-menu li {
    float: left;
    list-style: none;
    margin: 0 auto;
}
#services-heading{
    text-align: center;
    width: 50%;
    padding-left:250px;
}

#services{
    background-color: white;
    padding-left: 250px;
}
#service-menu-button{
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 850px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    content: "▼";
    display: inline;
}
#statistics{
    width: 800px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
}

#service-link{

}
.triangle{
float: right;
}

#services-menu-nav li{
    list-style: none;
    padding-right: 40px;
    width: 525px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    height: 50px;
}

.service-img-align{
    margin-top: 20px;
    margin-left: 20px;
}
/*
#side-right{
    float: right;
    color: white;
    outline: 1px solid #ffffff; закрывает весь банер
}
*/

/*
.logo {
    float: left;
    color: white;
}
.menu {
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.menu li {
    float: left;
    padding: 10px 50px 50px 50px;
    list-style: none;
    color: white;
}

.wrapper{
    float: right;
    border: 1px solid white;
    display: block;
    height:60px;
    width: 20%;
}

.button {
    display: inline-block;
    float: right;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px 0;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
}

.heading-text-button{
    background-color: blue;
    float:left;
}
.video-container{
    float: right;
}
/*