body{
    background-color: antiquewhite;
    margin: 0;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    outline: 1px solid #ffffff;
    background-image: url("../img/header/hero-banner.jpg");
}


.header{
    height: 77px;
    padding: 30px 45px;
    margin-bottom: 10px;
    outline: 1px solid #ffffff;
}

#logo{
    float: left;
    color: white;
    outline: 1px solid #ffffff;
    width: 250px;
}

#menu {
    width: 500px;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin: 0 auto;
}

#menu li {
    float: left;
    list-style: none;
    padding-right: 40px;

}
li a:hover {
    color: black;
    cursor: pointer;
}
#sign-up{

    float: right;
    padding-top: 10px;
    outline: 1px solid #ffffff;
}
#button-sign-up {
    display: inline-block;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 50px;
}
a{
    text-decoration:none;
    color: white;
}
.clear{
    clear: both;
}

#side-left{
    float: left;
    color: white;
    outline: 1px solid #ffffff;
    width: 250px;
    margin-left: 45px;
    margin-right: 80px;
}

#button{
    display: block;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 150px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
a#button:hover{
    background-color: darkblue;
}
#easy-useful{
    background-color: white;
}#services{
     background-color: white;
 }
#easy-useful-heading{
    text-align: center;
    width: 300px;
    padding-left: 350px;
    outline: 1px solid grey;
}
div#easy-useful-heading h2 {
    color: grey;
}

div#easy-useful-heading p{
    color: grey;
}
#three-buttons-left{
    float: left;
    color: grey;
    outline: 1px solid #ffffff;
    width: 200px;
    text-align: center;
    padding-left: 90px;
}
#three-buttons-right{
    float: right;
    color: grey;
    outline: 1px solid #ffffff;
    width: 200px;
    text-align: center;
    padding-right: 90px;
}

#three-buttons-center{
    width: 200px;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin: 0 auto;
    text-align: center;
    color: grey;
}
#button-get-started{
    display: block;
    background-color: lightseagreen;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 150px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}
#get-started{
    padding-left: 400px;
}
#easy-useful-menu{
    width: 100%;
    overflow: hidden;
    outline: 1px solid #ffffff;
    margin:0;
}
#easy-useful-menu li {
    float: left;
    list-style: none;
    margin: 0 auto;
}
#services-heading{
    text-align: center;
    width: 50%;
    padding-left: 150px;
}

#services{
    background-color: white;
    padding-left: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}

#statistics{
    width: 800px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
}

#service-link{

}
.triangle{
float: right;
}

#services-menu-nav li{
    list-style: none;
    padding-right: 40px;
    width: 525px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    height: 50px;
}

.service-img-align{
    margin-top: 20px;
    margin-left: 20px;
}
#testimonial-side-left{
    width: 350px;
    padding-left: 85px;
    padding-top: 100px;
    color: white;
}

#testimonial-menu li{
    background-color: white;
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 5px 20px 20px 20px;
    list-style-image: url("../img/testimonials/John-avatar.png");
    background-position: center;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#team{
    align: center;
}
#team-social li{
    list-style: none;
    float: left;
    padding: 10px;
    position: relative;
}
#team-social ul{
    overflow: hidden;
}
#form{
    background-color: #F0F0F0;
}

.form-view{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}
form{
    width: 500px;
    margin-bottom: 20px;
    margin-right: 50px;
}
textarea{
    width: 500px;
}
.form-right{
    float: right;
}
.form-btn-submit{
    background-color: aqua;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    text-transform: uppercase;
    border: 1px;
}
.form-margin{
    margin-bottom: 20px;
}
#footer{
    background-color: #061D35;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}
.footer-logo{
    width: 250px;
}
.footer-menu1 li{
    list-style: none;
    padding: 10px 20px;
    float: left;
}
.footer-menu1 ul{
    overflow: hidden;
    width: 500px;
}

.footer-menu2 li{
    list-style: none;
    padding: 10px 20px;
    float: left;
}
.footer-menu3 li{
    list-style: none;
    padding-left: 50px;
    float: left;
}