body{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    outline: 1px solid #ffffff;
    background-image: url("../img/header/hero-banner.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
#header{
    padding: 30px 45px;
    margin-bottom: 10px;
}
.logo{
    float: left;
}
.align-center{
    text-align: center;
}
.menu{
    display: inline-block;
    padding-top: 15px;
}
.menu li:first-child{
    padding-left: 0;
}
.menu ul{
    overflow: hidden;
    list-style: none;
}
.menu li {
    padding-left: 70px;
    float: left;
}
li a:hover {
    color: black;
    cursor: pointer;
}
.button-sign-up {
    color: #fff;
    background-color: #0CBABD;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 24px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    float: right;
    padding-top: 10px;
    text-align: center;
    height: 37px;
}
a{
    text-decoration:none;
    color: white;
}
.hero-banner{
    padding: 30px 40px;
}
.side-left{
    float: left;
    color: white;
}
.side-left h1{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-align: left;
}
.side-left p{
    color: #fff;
    text-align: left;
}
.side-right{
    float: right;
}
.button{
    display: inline-block;
    color: #061E37;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 130px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
}
.button:hover{
    background-color: #061E37;
    color: white;
    display: inline-block;
}
.easy-useful{
    background-color: #fff;
    padding-top: 60px;
}
.easy-useful-menu-list li{
    float: left;
    width: 33.3%;
}

.easy-useful-menu-list ul{
    overflow: hidden;
    padding-bottom: 50px;
    padding-left: 50px;
}
.easy-useful-menu-list li{
    padding-left: 45px;
}

.button-get-started {
    display: inline-block;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    padding: 15px 10px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 150px;
    text-transform: uppercase;
}
.easy-useful-menu{
    overflow: hidden;
    outline: 1px solid #ffffff;
    padding-top: 40px;
    padding-bottom: 30px;
}
.easy-useful-menu ul {
    list-style: none;
    display: inline-block;
}
.easy-useful-menu li {
    width: 33.3%;
}
.easy-useful-menu-footer ul{
    list-style: none;
    display: inline-block;
}
.easy-useful-menu-footer li {
    width: 25%;
}
.business{
    background-color: #80D8FF;
    display: block;
    overflow: hidden;
}
.download{
    background-color: #82B1FF;
    display: block;
    overflow: hidden;
}
.free-installs{
    background-color: #B186FC;
    display: block;
    overflow: hidden;
}
.person{
    background-color: #EA80FC;
    display: block;
    overflow: hidden;
}
.easy-useful-menu-footer{
    overflow: hidden;
}
.easy-useful-menu-footer li{
    float: left;
}
.easy-useful-menu-footer span img{
    padding-top: 30px;
}
.easy-useful-menu{
    padding-left: 50px;
    padding-right: 50px;
}
.easy-useful-footer{
    padding-top: 60px;
}
.text-align{
    display: block;
    padding-left: 150px;
    padding-top: 47px;
}
.image-align{
    float: left;
    padding-left: 65px;
    padding-bottom: 25px;
}
.services-heading{
    text-align: center;
}
.services{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}
.services-menu li {
    list-style: none;
    padding-right: 40px;
    width: 525px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    margin: 10px;
    height: 50px;
    overflow: hidden;
}
.service-img-align{
    margin-top: 20px;
    margin-left: 20px;
}
.triangle{
    float: right;
}
.testimonials{
    background-image: url("../img/testimonials/testimonial-bg.png");
    overflow: hidden;
    padding-bottom: 50px;
}
.services-menu ul{
    padding-left: 240px;
}
.testimonial-side-left{
    padding-top: 100px;
    padding-left: 50px;
    float: left;
    text-align: center;
}
.testimonial-side-right{
    float: right;
    padding-top: 70px;
    padding-right: 50px;
    text-align: center;
}
.testimonial-side-left h1{
    color: #fff;
    line-height: 50px;
    text-align: left;
}

.testimonial-side-left p{
    color: #fff;
    line-height: 30px;
    padding-bottom: 100px;
    text-align: left;
}

.testimonial-slider li{
    background-color: white;
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    padding: 20px 20px;
    text-align: left;
}
.testimonial-slider li:first-child{
    margin-bottom: 30px;
}
.testimonial-slider h3{
    font-weight: 500;
}
ul.testimonial-slider h3{
    font-weight: bold;
    color: #000;
}
.testimonial-slider-image{
    float: left;
    padding-top: 6px;
    padding-right: 15px;
}
i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.team{
    text-align: center;
    background-color: white;
    padding-top: 100px;
}
.team-social li{
    list-style: none;
    float: left;
    padding: 10px;
    position: relative;
}
.team-social ul{
    overflow: hidden;
    padding-left: 430px;
}
.team-description h2{
    color: #000;
    font-weight: bold;
}
.form-div{
    background-color: #F0F0F0;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form-view{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #F0F0F0;
}
.form-layout{
    width: 500px;
    margin: 0 auto;
}

textarea {
    width: 500px;
}
.form-right{
    float: right;
}
.form-btn-submit{
    background-color: #1DE9B6;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    text-transform: uppercase;
    border: 1px;
}
.form-margin{
    margin-bottom: 20px;
}

.footer {
    background-color: #061E37;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
.footer-left-menu li{
    float: left;
    padding-top: 30px;
    padding-right: 30px;
}
.footer-right-menu-nav li{
    float: left;
    padding-top: 30px;
    padding-left: 50px;
}
.footer-right-menu-social li{
    float: right;
    padding-top: 30px;
    padding-left: 30px;
}
.footer-left-menu, .footer-right-menu-nav, .footer-right-menu-social{
    overflow: hidden;
}

